body {
    font-family: Arial;
    margin: 40px;
    background: #f4f4f4;
}

h2 {
    color: #333;
}

form,
.result {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;
    max-width: 600px;
    margin: auto;
}

label {
    display: block;
    margin-top: 10px;
}

textarea,
input[type=text],
select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}

input[type=submit] {
    margin-top: 20px;
    padding: 10px 20px;
}